@page
@model MyApp.Namespace.ViewModel
@{
}
<div>
    <h3>Identificacion:</h3>
    <span>@Model.person.id</span>
</div>
<div>
    <h3>Nombre:</h3>
    <span>@Model.person.nombre</span>
</div>
<div>
    <h3>Apellido:</h3>
    <span>@Model.person.apellido</span>
</div>
<div>
    <h3>Documento:</h3>
    <span>@Model.person.dni</span>
</div>
<div>
    <h3>Edad:</h3>
    <span>@Model.person.edad</span>
</div>